* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    display: flex;
    text-wrap: wrap;
}

.contentLayout > :first-child {
  flex: 2;
}

.contentLayout > :last-child {
  flex: 1;
}